# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
._*

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# Env files
.env*.local
